

body{
    margin:0;
    padding: 0;
    background-color: rgba(143, 147, 119, 0.69);

}

nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.route{
    display: flex;
    align-items: center;
    gap: 20px;
}
input{
    padding: 5px 10px;
    width: 20vw;
    font-size: 18px;
    outline: none;
    border: none;
}
button{
    padding: 5px 10px;
   background-color: rgb(98, 98, 239);
    outline: none;
    font-size: 18px;
    border: none;
}
.detail{
    /* height: 100vh; */
    padding: 20px 50px;
   
    background-image:linear-gradient(to right,rgba(216, 157, 157, 0.579),rgba(136, 136, 206, 0.684))
}
.search{
    
    display: flex;
    padding: 20px 20px;
    /* align-items: center; */
    justify-content: center;
}
.def-p{
    padding-left: 30px;
}